.main-fcontainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 90%;
  grid-template-rows: auto 2fr auto auto;
  row-gap: 0rem;
  padding-top: 5rem;
}
body {
  position: relative;
}
.main-fcontainer .container-isi {
  display: grid;
  grid-template-columns: 64% auto;
  grid-template-rows: 50%;
  margin: 30px auto;
  column-gap: 5rem;
}
.main-fcontainer .container-isi .container-video iframe {
  width: 345px;
  height: 260px;
}
.main-fcontainer .container-isi .isi-container {
  display: flex;
  flex-direction: column;
}
.main-fcontainer .container-ads {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.main-fcontainer .container-ads a img {
  width: 970px;
  height: 90px;
}
.main-fcontainer .container-ads a .img-ads-phone {
  display: none;
}
.main-fcontainer .container-ads a .img-ads-pc {
  display: flex;
}
.main-fcontainer .container-isi .isi-container .meta-container {
  margin: 10px 0px;
}
.main-fcontainer .container-isi .isi-container .meta-container .isi-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-fcontainer
  .container-isi
  .isi-container
  .meta-container
  .isi-meta
  .isi-meta-left {
  display: flex;
  gap: 1rem;
}

.main-fcontainer
  .container-isi
  .isi-container
  .isi-meta
  .isi-meta-left
  .isi-meta-author {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-fcontainer
  .container-isi
  .isi-container
  .isi-meta
  .isi-meta-left
  .isi-meta-time,
.isi-meta-category {
  display: flex;
  align-items: end;
}
.isi-meta-category span {
  display: flex;
  gap: 5px;
}
.isi-container .isi-head h1 {
  font-size: 40px;
  line-height: 1.15;
  margin: 0 0 0.4em;
  letter-spacing: -0.04em;
  color: #212121;
}

.isi-meta-left .isi-meta-author img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.isi-meta-left .isi-meta-author span a {
  text-decoration: none;
  color: #fb923c;
  font-weight: bold;
}
.isi-meta-left .isi-meta-author span,
.isi-meta-time span,
.isi-meta-category span {
  font-size: 16px;
  font-weight: lighter;
  color: #a0a0a0;
}
.isi-meta-category span a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: bold;
}
.main-fcontainer .container-isi .isi-container .isi-meta-right {
  display: flex;
}
.main-fcontainer .container-isi .isi-container .isi-meta-right .ph {
  color: #fb923c;
  width: 18px;
  height: 18px;
  font-weight: bold;
}
.main-fcontainer .container-isi .isi-container .isi-meta-right a {
  text-decoration: none;
  color: #8b8b8d;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.isi-container .isi-konten {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 2rem;
  margin-top: 1rem;
}
.isi-container .isi-konten .isi-konten-paragraf {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.isi-container .isi-konten .isi-konten-paragraf p {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  font-weight: 500;
  font-family: "Segoe UI", sans-serif;
  text-align: justify;
}
.isi-konten-paragraf .p-content-bottom a {
  text-decoration: underline;
  color: #fb923c;
  vertical-align: baseline;
  font: inherit;
}
.isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  clear: both;
  gap: 1rem;
}

.isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags span {
  font-size: 1.5rem;
  font-weight: 900;
}
.isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags a {
  width: fit-content;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fbeaeb;
  color: #e81c24;
  border-radius: 3px;
  transition: all;
  transition-duration: 300ms;
}
.isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags a:hover {
  width: fit-content;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: #e81c24;
  color: #fbeaeb;
  border-radius: 3px;
}
.isi-container
  .isi-konten
  .isi-konten-paragraf
  .isi-konten-tags
  .isi-konten-tags-list {
  display: flex;
  gap: 1rem;
}
.main-fcontainer .container-isi .isi-right .isi-right-heading {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 1rem;
}
.main-fcontainer .container-isi .isi-right .isi-right-heading .ph,
.main-fcontainer .container-isi .isi-right .isi-right-heading span {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.main-fcontainer .container-isi .isi-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-fcontainer .container-isi .isi-right .content-isi {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 {
  display: flex;
  gap: 1rem;
}
.main-fcontainer
  .container-isi
  .isi-right
  .content-isi
  .content-isi-1
  .content-isi-1-head {
  display: flex;
  width: 225px;
  flex-direction: column;
  gap: 1rem;
}
.content-isi-1 .content-isi-1-head .content-isi-1-header a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: all;
  transition-duration: 200ms;
}
.content-isi-1 .content-isi-1-head .content-isi-1-header a:hover {
  color: #fb923c;
  text-decoration: none;
  font-weight: 700;
}
.content-isi-1 .content-isi-1-head .content-isi-1-header {
  width: 230px;
  height: auto;
}
.main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 {
  display: flex;
  width: 345px;
  height: auto;
}
.main-fcontainer
  .container-isi
  .isi-right
  .content-isi
  .content-isi-1
  .analitic {
  display: flex;
  gap: 5px;
}
.main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 a {
  width: 55%;
}
.main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 a img {
  width: 120px;
  height: 85.8px;
  border-radius: 5px;
}

.main-fcontainer
  .container-isi
  .isi-right
  .content-isi
  .content-isi-1
  .content-isi-1-head
  .analitic
  .clock {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 65%;
  text-decoration: none;
}
.main-fcontainer
  .container-isi
  .isi-right
  .content-isi
  .content-isi-1
  .content-isi-1-head
  .analitic
  .visitor {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
}
.analitic .clock i,
.visitor .ph {
  color: #fb923c;
  font-size: 18px;
}

.analitic .clock p {
  font-size: 12px;
  color: #a0a0a0;
}
.visitor p {
  font-size: 12px;
  color: #a0a0a0;
}
.isi-postblog {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mains {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .main-fcontainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 0rem;
  }
  .isi-container .isi-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }

  .isi-container .isi-header .isi-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .main-fcontainer .container-isi .isi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mains .main-fcontainer .container-isi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr auto;
    margin: 30px auto;
    column-gap: 5rem;
  }

  .main-fcontainer .container-ads {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .main-fcontainer .container-ads a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-fcontainer .container-ads a img {
    width: 90%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
  .main-fcontainer .container-ads a .img-ads-phone {
    display: flex;
  }
  .main-fcontainer .container-ads a .img-ads-pc {
    display: none;
  }
  .main-fcontainer .container-isi .isi-container .meta-container .isi-meta {
    display: flex;
    width: 95%;
  }

  .main-fcontainer .container-isi .isi-container .meta-container {
    width: 95%;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
  }
  .main-fcontainer .container-isi .isi-container .meta-container .isi-meta {
    display: flex;
    justify-content: stretch;
  }
  .main-fcontainer
    .container-isi
    .isi-container
    .meta-container
    .isi-meta
    .isi-meta-left {
    display: flex;
    width: 90%;
    margin-bottom: 15px;
  }

  .main-fcontainer
    .container-isi
    .isi-container
    .isi-meta
    .isi-meta-left
    .isi-meta-author {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .main-fcontainer
    .container-isi
    .isi-container
    .isi-meta
    .isi-meta-left
    .isi-meta-time,
  .isi-meta-category {
    display: flex;
    align-items: end;
  }
  .isi-meta-category span {
    display: none;
  }

  .isi-container .isi-head h1 {
    font-size: 28px;
    line-height: 1.15;
    margin: 0 0 0.4em;
    letter-spacing: -0.04em;
    color: #212121;
    text-align: left;
  }
  .isi-meta-left .isi-meta-author img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .isi-meta-left .isi-meta-author span a {
    text-decoration: none;
    color: #fb923c;
    font-weight: bold;
  }
  .isi-meta-left .isi-meta-author span,
  .isi-meta-time span,
  .isi-meta-category span {
    font-size: 13px;
    font-weight: lighter;
    color: #a0a0a0;
  }
  .isi-meta-category span a {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: bold;
  }

  .main-fcontainer .container-isi .isi-container .isi-meta-right .ph {
    color: #fb923c;
    width: 18px;
    height: 18px;
    font-weight: bold;
  }
  .main-fcontainer .container-isi .isi-container .isi-meta-right a {
    text-decoration: none;
    color: #8b8b8d;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .img-konten {
    width: 100%;
    height: 30vh;
  }
  .isi-konten {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .isi-konten-paragraf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
  }
  .isi-konten-paragraf p {
    font-size: 16.5px;
    line-height: 25px;
    font-weight: 100;
    text-align: justify;
    vertical-align: baseline;
    font: inherit;
    font-family: "Segoe UI", sans-serif;
  }
  .isi-konten-paragraf .p-content-bottom {
    font-size: 16.5px;
    line-height: 25px;
    font-weight: lighter;
    text-align: justify;
    font-style: italic;
    vertical-align: baseline;
    font: inherit;
  }
  .isi-konten-paragraf .p-content-bottom a {
    text-decoration: underline;
    color: #fb923c;
    vertical-align: baseline;
    font: inherit;
  }
  .main-fcontainer .container-isi .isi-right .content-isi {
    display: none;
    align-items: center;
    width: 100%;
  }
  .main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 {
    display: flex;

    justify-content: center;
  }
  .main-fcontainer .container-isi .container-video {
    display: none;
  }
  .main-fcontainer .container-isi .isi-right .isi-right-heading {
    display: none;
  }
  .main-fcontainer .container-isi .isi-right .content-isi .content-isi-1 a img {
    width: 100%;
    height: 85.8px;
    border-radius: 5px;
  }
  .isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags a {
    width: fit-content;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fbeaeb;
    color: #e81c24;
    border-radius: 3px;
    transition: all;
    transition-duration: 300ms;
  }
  .isi-container .isi-konten .isi-konten-paragraf .isi-konten-tags a:hover {
    width: fit-content;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #e81c24;
    color: #fbeaeb;
    border-radius: 3px;
  }

  .isi-postblog {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
  }
  .isi-postblog .isi-postblog-container {
    display: flex;
    width: 90%;
    flex-direction: column;

    padding: 5px;
    gap: 2rem;
  }
  .isi-postblog .isi-postblog-container .postblog-heading span {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
  }
  .isi-postblog .postblog-heading span strong {
    font-size: 18px;
    line-height: 36px;
    color: #fb923c;
    font-weight: 300;
    vertical-align: baseline;
  }

  .isi-postblog .postblog-isi {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .isi-postblog .postblog-isi .postblog-isi-1 {
    display: flex;
  }
  .isi-postblog .postblog-isi .postblog-isi-1 .postblog-isi-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-title
    h3 {
    text-align: left;
    font-size: 16px;
    width: 90%;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-title
    h3
    a {
    color: #212121;
    text-decoration: none;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta {
    display: flex;
    gap: 1rem;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author {
    display: flex;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author
    a {
    font-size: 10px;
    text-decoration: none;
    color: #a0a0a0;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author
    a
    span {
    color: #fb923c;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time {
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a
    .ph {
    color: #fb923c;
    font-size: 10px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a
    span {
    font-size: 10px;
    color: #a0a0a0;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment {
    display: flex;
    align-items: center;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a
    .ph {
    font-size: 10px;
    color: #fb923c;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a
    span {
    font-size: 10px;
    color: #a0a0a0;
  }
  .isi-postblog .postblog-isi .postblog-isi-1 .postblog-image {
  }
  .isi-postblog .postblog-isi .postblog-isi-1 .postblog-image img {
    height: 100%;
    border-radius: 4px;
  }
}
