* {
  padding: 0;
  margin: 0;
}

.main {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.main .container {
  width: 80%;
  height: 100%;
  display: grid;
  margin-top: 5rem;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% 20%;
  grid-template-areas: "content-1 content-2";
  grid-gap: 4.5rem;
}

.main .container .content-1 {
  background-color: #fafafa;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px black;
  box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.103);
  display: flex;
  flex-direction: column;
  grid-area: content-1;
  height: 85%;
  margin-top: 20px;
}
.main .container .content-1 .image-content-1 {
  width: 100%;
  height: 70%;
}
.main .container .content-1 .image-content-1 img {
  width: 100%;

  border-radius: 5px 5px 0px 0px;
  height: 100%;
}

.content-1 .content-1-isi {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
  gap: 1rem;
  border-radius: 2cm;
}
.content-1 .content-1-isi span {
  font-size: 14px;
  font-weight: 600;
  color: #33333388;
}

.content-1 .content-1-isi h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fb923c;
}
.content-1 .content-1-isi p {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}
.content-2-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.content-2-header .ph {
  font-size: 40px;
}
.content-2-header h2 {
  font-size: 32px;
}
.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  grid-area: content-2;
}

.content-2 .card-content-2 {
  background-color: #fafafa;
  height: 8rem;
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.053);
  transition: all;
  transition-duration: 300ms;
}
.content-2 .card-content-2:hover {
  background-color: #d6d6d6;
  height: 8rem;
  margin-left: 20px;
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.053);
}
.content-2 .card-content-2 .content-2-isi {
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
  border-radius: 5px;
}
.content-2-isi span {
  color: #fb923c;
  font-weight: 600;
}
.content-2-isi h4 {
  color: #000000;
  width: 16.7rem;
  font-weight: 600;
  height: 40%;
}

.content-2-isi .analitic .clock {
  width: 55%;
}
.content-2-isi .analitic .clock i,
.content-2-isi .analitic .clock p {
  color: #000000;
  font-weight: 600;
}
.content-2-isi .analitic .visitor i,
.content-2-isi .analitic .visitor p {
  color: #000000;
  font-weight: 600;
}
.content-2 .card-content-2 .content-2-isi .analitic {
  display: flex;
  gap: 1rem;
}
.content-2 .card-content-2 .content-2-isi .clock,
.content-2 .card-content-2 .content-2-isi .visitor {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-2 .card-content-2 img {
  width: 250px;
  border-radius: 0px 5px 5px 0px;
}

.footer-box {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer-box .footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.footer-box .footer-container .footer-kiri {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 37%;
}
.footer-box .footer-container .footer-kiri .footer-ltd strong {
  color: #a8a8aa;
}
.footer-box .footer-container .footer-kiri .logo-container {
  display: flex;
  flex-direction: column;

  width: 35%;
}
.footer-box .footer-container .footer-kiri .logo-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 44px;
  width: 100%;
}
.footer-box .footer-container .footer-kiri .logo-container a .icon-1 {
  color: #fb923c;
  font-weight: 600;
}
.footer-box .footer-container .footer-kiri .logo-container a .icon-2 {
  color: #60a5fa;
  font-weight: 600;
}
.footer-box .footer-container .footer-kiri .logo-container a img {
  width: 100px;
}
.footer-box .footer-container .footer-kiri .footer-teks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  line-height: 1.2;
}
.footer-box .footer-container .footer-kiri .footer-teks .strong {
  font-weight: 700;
  color: #a8a8aa;
}
.footer-box .footer-container .footer-kiri .footer-teks span {
  color: #a8a8aa;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  gap: 6px;
}
.footer-box .footer-container .footer-kiri .footer-teks span a {
  font-weight: 200;
  text-decoration: none;
  color: #a8a8aa;
}
.footer-box .footer-container .footer-kanan {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 1rem;
  padding-bottom: 0px;
}
.footer-box .footer-container .footer-kanan .footer-powered {
  margin-bottom: 20px;
}
.footer-box .footer-container .footer-kanan .footer-powered p {
  color: #a8a8aa;
  font-size: 14px;
}
.footer-box .footer-container .footer-kanan .footer-img-kanan {
}
.footer-box .footer-container .footer-kanan .footer-img-kanan img {
}
.footer-box .footer-container .footer-kanan .footer-teks-kanan {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-box .footer-container .footer-kanan .footer-teks-kanan {
  color: #a8a8aa;
}

.footer-box .footer-container .footer-copyright {
  margin-top: 1rem;
  width: 100%;
}
.footer-box .footer-container .footer-copyright p {
  color: #a8a8aa;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .main {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
  }

  .main .container {
    width: 90%;
    height: 100vh;
    display: grid;
    margin-top: 70px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "content-1"
      "content-2";
    row-gap: 0;
  }

  .main .container .content-1 {
    width: 100%;
    height: 75%;
    background-color: #fafafa;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px black;
    box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.103);
  }

  .main .container .content-1 img {
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0px 0px;
  }

  .content-1 .content-1-isi {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 20px;
    gap: 0.5rem;
    border-radius: 2cm;
  }
  .content-1 .content-1-isi span {
    font-size: 12px;
    font-weight: 600;
    color: #33333388;
  }

  .content-1 .content-1-isi h3 {
    font-size: 14px;
    font-weight: 600;
    color: #fb923c;
    width: 16.5rem;
  }
  .content-1 .content-1-isi p {
    font-size: 10px;
    font-weight: 600;
    color: #333333;
  }
  .content-2-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .content-2-header .ph {
    font-size: 32px;
  }
  .content-2-header h2 {
    font-size: 28px;
  }
  .content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .content-2 .card-content-2 {
    background-color: #fafafa;
    height: 5rem;
    width: 90%;
    display: flex;
    text-decoration: none;
    border-radius: 2.5px;
    box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.053);
    transition: all;
    transition-duration: 300ms;
  }
  .content-2 .card-content-2:hover {
    background-color: #fafafa;
    height: 5rem;
    width: 90%;
    display: flex;
    text-decoration: none;
    border-radius: 2.5px;
    box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.053);
    margin-left: 10px;
  }
  .content-2 .card-content-2 .content-2-isi {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 12px 0px 0px 10px;
    border-radius: 5px;
  }
  .content-2-isi span {
    color: #fb923c;
    font-size: 8px;
    font-weight: 600;
  }
  .content-2-isi h4 {
    color: #000000;
    width: 10rem;
    font-weight: 600;
    font-size: 9px;
    height: 40%;
  }

  .content-2-isi .analitic .clock {
    width: 55%;
  }
  .content-2-isi .analitic .clock i,
  .content-2-isi .analitic .clock p {
    color: #000000;
    font-weight: 600;
    font-size: 8px;
  }
  .content-2-isi .analitic .visitor i,
  .content-2-isi .analitic .visitor p {
    color: #000000;
    font-weight: 600;
    font-size: 8px;
  }
  .content-2 .card-content-2 .content-2-isi .analitic {
    display: flex;
  }
  .content-2 .card-content-2 .content-2-isi .clock,
  .content-2 .card-content-2 .content-2-isi .visitor {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .content-2 .card-content-2 img {
    width: 50%;
    height: 100%;
    border-radius: 0px 2.5px 2.5px 0px;
  }
  .isi-postblog {
    display: flex;

    grid-area: isi-postblog;
  }

  .isi-postblog .isi-postblog-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 20px;
  }
  .isi-postblog .isi-postblog-container .postblog-isi {
    display: flex;
    align-items: center;
    gap: 3vh;
  }
  .isi-postblog .isi-postblog-container .postblog-isi .postblog-isi-1 {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    gap: 0.5rem;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  .isi-postblog .isi-postblog-container .postblog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .isi-postblog .isi-postblog-container .postblog-heading span {
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
    width: 30%;
  }
  .isi-postblog .isi-postblog-container .postblog-heading .hr {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .isi-postblog .isi-postblog-container .postblog-heading .hr hr {
    width: 100%;
    color: #eeeeee93;
  }
  .isi-postblog .postblog-heading span strong {
    font-size: 16px;
    line-height: 36px;
    color: #fb923c;
    font-weight: 700;
    vertical-align: baseline;
  }
  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-image {
    width: 65%;
    height: 65%;
  }
  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-image
    a
    img {
    width: 100%;
    object-fit: cover;
    height: 5.7rem;
    border-radius: 10px;
  }
  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-title {
    width: 100%;
  }

  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-title
    h3
    a {
    text-decoration: none;
    color: #212121;
    font-size: 16px;
  }

  .isi-postblog
    .isi-postblog-container
    .postblog-isi
    .postblog-isi-1
    .postblog-meta
    .postblog-meta-author
    a {
    font-size: 14px;
  }

  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author {
    display: flex;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author
    a {
    font-size: 10px;
    text-decoration: none;
    color: #a0a0a0;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-author
    a
    span {
    color: #fb923c;
    font-weight: 700;
    text-transform: uppercase;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time {
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a
    .ph {
    color: #fb923c;
    font-size: 10px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta
    .postblog-meta-time
    a
    span {
    font-size: 10px;
    color: #a0a0a0;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment {
    display: flex;
    align-items: center;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a
    .ph {
    font-size: 10px;
    color: #fb923c;
  }
  .isi-postblog
    .postblog-isi
    .postblog-isi-1
    .postblog-isi-right
    .postblog-meta-comment
    a
    span {
    font-size: 10px;
    color: #a0a0a0;
  }
  .isi-postblog .postblog-isi .postblog-isi-1 .postblog-excerpt {
    line-height: 1.6;
    display: none;
  }
  .isi-postblog .postblog-isi .postblog-isi-1 .postblog-excerpt p {
    font-size: 14px;
    color: #53585c;
    font-weight: 100;
  }
  .isi-postblog .isi-postblog-container .loadmore-box {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 1rem;
    margin-top: 5px;
  }
  .isi-postblog .isi-postblog-container .loadmore-box a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    height: 30px;
    border: 1px solid rgba(175, 174, 174, 0.562);
    border-radius: 3px;
    color: #212121;
    font-size: 11px;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .isi-postblog .isi-postblog-container .loadmore-box .hr {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .isi-postblog .isi-postblog-container .loadmore-box .hr hr {
    width: 100%;
    color: #eeeeee62;
  }

  .footer-box {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  .footer-box .footer-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "footer-kiri"
      "footer-kanan";
    width: 80%;
    row-gap: 2rem;
  }
  .footer-box .footer-container .footer-kiri {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    grid-area: footer-kiri;
    margin-top: 50px;
  }
  .footer-box .footer-container .footer-kiri .footer-ltd strong {
    color: #a8a8aa;
  }
  .footer-box .footer-container .footer-kiri .logo-container {
    display: flex;
    flex-direction: column;

    width: 35%;
  }
  .footer-box .footer-container .footer-kiri .logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 34px;
    width: 100%;
  }
  .footer-box .footer-container .footer-kiri .logo-container a .icon-1 {
    color: #fb923c;
    font-weight: 600;
  }
  .footer-box .footer-container .footer-kiri .logo-container a .icon-2 {
    color: #60a5fa;
    font-weight: 600;
  }
  .footer-box .footer-container .footer-kiri .logo-container a img {
    width: 70px;
  }
  .footer-box .footer-container .footer-kiri .footer-teks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    line-height: 1.2;
  }
  .footer-box .footer-container .footer-kiri .footer-teks .strong {
    font-weight: 700;
    color: #a8a8aa;
  }
  .footer-box .footer-container .footer-kiri .footer-teks span {
    color: #a8a8aa;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    gap: 6px;
  }
  .footer-box .footer-container .footer-kiri .footer-teks span p {
    font-weight: 200;
  }
  .footer-box .footer-container .footer-kanan {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    grid-area: footer-kanan;
    padding-bottom: 40px;
  }
  .footer-box .footer-container .footer-kanan .footer-powered {
    margin-bottom: 10px;
    width: 100%;
  }
  .footer-box .footer-container .footer-kanan .footer-powered p {
    color: #a8a8aa;
    font-size: 14px;
  }
  .footer-box .footer-container .footer-kanan .footer-img-kanan {
  }
  .footer-box .footer-container .footer-kanan .footer-img-kanan img {
  }
  .footer-box .footer-container .footer-kanan .footer-teks-kanan {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-box .footer-container .footer-kanan .footer-teks-kanan {
    color: #a8a8aa;
  }
}
