body {
  background-color: rgb(15, 23, 42);
  height: 1000px;
}
* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2fr;
  background-color: #333;
}

.content-1 a {
  text-decoration: none;
  color: aliceblue;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 80px auto;
  background-color: rgb(32, 36, 52);
  transition: all;
  transition-duration: 300ms;
}

.content-1 a:hover {
  text-decoration: none;
  color: aliceblue;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 80px auto;
  background-color: rgba(158, 162, 179, 0.192);
}

.content-1 img {
  width: 600px;
  border-radius: 3px 3px 0px 0px;
  height: 380px;
}
.content-1 img {
  width: 600px;
  border-radius: 3px 3px 0px 0px;
  height: 380px;
}
.content-1 .content {
  padding: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content-1 .content span {
  color: rgba(175, 168, 168, 0.664);
  font-weight: 600;
}

.content-1 .content h2 {
  color: #fb923c;
}

.content-2 {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  gap: 1rem;
  padding: 16px 0px 0px 18px;
  width: 95%;
}

.content-2 .head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content-2 .head .ph {
  color: white;
  font-size: 26px;
}
.content-2 a {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(15, 23, 42);
  border: 2px solid white;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
}
.content-2 a:hover {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: rgba(147, 149, 153, 0.226);
  border: 2px solid white;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
}
.content-2 a .items {
  display: flex;
  gap: 1rem;
  width: 65%;
}
.content-2 span {
  font-weight: 600;
  color: white;
  font-size: 26px;
}
.content-2 .items {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content-2 .items h6 {
  color: white;
  font-size: 14px;
}
.content-2 .items span {
  color: #fb923c;
  font-size: 18px;
}
.content-2 .items p {
  color: #9b9692;
  font-size: 12px;
  font-weight: 600;
}
.content-2 a img {
  width: 40%;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .content-1 a {
    text-decoration: none;
    color: aliceblue;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgb(32, 36, 52);
    transition: all;
    transition-duration: 300ms;
  }

  .content-1 a:hover {
    text-decoration: none;
    color: aliceblue;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgba(183, 185, 192, 0.295);
  }

  .content-1 img {
    width: 350px;
    border-radius: 5px;
    height: 200px;
  }
  .content-1 .content {
    padding: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .content-1 .content span {
    color: rgba(175, 168, 168, 0.664);
    font-weight: 600;
    font-size: 14px;
  }

  .content-1 .content h2 {
    color: #fb923c;
    font-size: 16px;
  }

  .content-2 {
    display: flex;
    margin-top: 30px;
    gap: 1rem;
    padding: 16px 0px 0px 18px;
    width: 99%;
    background-color: rgb(32, 36, 52);
  }
  .content-2 .head {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .content-2 .head .ph {
    color: white;
    font-size: 26px;
  }

  .content-2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80%;
    padding: 0px;
    margin-left: 0px;
    border-radius: 5px;
    background-color: rgba(147, 149, 153, 0.226);
    border: 2px solid white;
    text-decoration: none;
    transition: all;
    transition-duration: 300ms;
    gap: 0.5rem;
  }
  .content-2 a:hover {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 150px;
    padding: 0px;
    margin-left: 0px;
    border-radius: 5px;
    background-color: rgba(147, 149, 153, 0.226);
    border: 2px solid white;
    text-decoration: none;
    transition: all;
    transition-duration: 300ms;
    gap: 0.5rem;
  }

  .content-2 a .items {
    display: flex;
    gap: 0.5rem;
    margin: 5px;
  }
  .content-2 span {
    font-weight: 600;
    color: #fb923c;
    font-size: 16px;
  }
  .content-2 .items {
    display: flex;
    flex-direction: column;
  }
  .content-2 .items h6 {
    color: white;
    font-size: 12px;
  }
  .content-2 .items span {
    color: #fb923c;
    font-size: 10px;
  }
  .content-2 .items p {
    color: #9b9692;
    font-size: 8px;
    font-weight: 600;
  }
  .content-2 a img {
    width: 50%;
    height: 100%;
    border-radius: 5px;
  }
}
