body {
  background-color: rgb(15, 23, 42);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  margin: 10px 0px;
}
.containers {
  border-radius: 5px;
  width: 98%;
  padding: 9px;
  display: flex;
  background-color: rgb(32, 36, 52);
  gap: 1rem;
  transition: all;
  transition-duration: 300ms;
}
.containers:hover {
  border-radius: 5px;
  width: 98%;
  padding: 9px;
  display: flex;
  background-color: rgba(177, 178, 184, 0.336);
  gap: 1rem;
  transition: all;
  transition-duration: 300ms;
}
.keterangan {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

hr {
  color: aliceblue;
}
img {
  width: 100px;
  border-radius: 3px;
  border: 1px solid white;
}
@media only screen and (max-width: 768px) {
  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    margin: 10px 0px;
  }
  .containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: 98%;
    padding: 9px;
    display: flex;
    background-color: rgb(32, 36, 52);
    gap: 1rem;
    transition: all;
    transition-duration: 300ms;
  }
  .containers:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: 98%;
    padding: 9px;
    display: flex;
    background-color: rgba(188, 189, 194, 0.377);
    gap: 1rem;
    transition: all;
    transition-duration: 300ms;
  }
  .keterangan {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  img {
    width: 60px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid white;
  }
}
