body {
  background-color: rgb(255, 255, 255);
}

.page-not-found {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-not-found .page-container {
  background-color: #ecebeb;
  border-radius: 5px;
  padding: 70px;
}

.page-not-found .page-container img,
.page-not-found .page-container span {
  display: block;
}
.page-not-found .page-container img {
  width: 180px;
  margin: auto;
}

.page-not-found .page-container span {
  font-size: 28px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  footer .page-not-found {
    background-color: rgb(255, 255, 255);
    display: inline-block;
  }
  .page-container {
    background-color: #fafafa;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
  }
  footer .page-not-found .page-container img {
    width: 100px;
    margin: auto;
  }
  footer .page-not-found .page-container span {
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  footer .page-not-found .page-container .page {
    display: flex;
    justify-content: center;
  }
}
